<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body ng-app="myApp">
    <h1>Firebase</h1>
    <div ng-controller="firebaseCtrl" ng-cloak>
        <ul>
            <div ng-repeat="item in items">
                <input ng-model="item.text"/>
                <input type="button" value="X"/ ng-click="removeItem(item)">
            </div>
        </ul>
        <form ng-submit="addItem(newItemText)">
            <input type="text" ng-model="newItemText" name=""/>
        </form>
    </div>
    
        <h1>JSON</h1>
        Search: <input type="text" ng-model="filtering" ng-init="filtering=''">
        <ul ng-controller="myCtrl">
            <li ng-repeat="result in results | filter:finder">
                {{result.title.$t}}
            </li>
        </ul>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="bower_components/angularfire/dist/angularfire.min.js"></script>
</body>
</html>